
.contact-top h1{
    font-family: "Crimson Text";
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin-top: 50px;
    padding-right: 10%;
}
.contact-top p{
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #000000;
    padding-right: 10%;
}

.contact-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
iframe{
    margin-left: 7%;
    margin-top: 20px;
    border-radius: 8px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 2%; 
}

input, textarea{
    width: 90%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #080404;
    border-radius: 8px;
    background-color: #f1f1f1;
    margin: 2%;
}
.form-btn{
    width: 90%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin: 2%;
}
.form-btn:hover{
    background-color: #444;
}
@media(min-width: 768px){
    iframe{
        width: 80%;
    }
    form{
        margin-right: 50%;
    }
    input, textarea{
    
        padding: 10px 86%; 
    }
    .form-btn{
    padding: 10px 86%;
    }
}
@media(min-width: 1024px){
    .contact-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        gap: 20px;
    }

    iframe{
        width: 400px;
        height: 300px;
        margin-left: 60%;
        margin-top: 30% ;
        border-radius: 10px;
        margin-left: 40%;
    }
    form{
        width: 350px;
        height: 500px;
        gap: 21px;
        margin-top: -30%;
        margin-left: 0%;
    }
    form input, form textarea, form button {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px 10px;
        font-size: 16px;    
    }

    .form-btn{
        margin-top: auto;
        padding: 20px 80px;
    }
    .contact-top h1{
        font-size: 40px;
        text-align: center;
        margin-left: 9%;
    }
.contact-top p{
    font-size: 20px;
    text-align: center;
    margin-left: 10%;
    margin-top: 20px;
}
}
@media(min-width:1440px){
    iframe{
        width: 450px;
        height: 300px;
        margin-left: 60%;
        margin-top: 50% ;
        border-radius: 10px;
        margin-left: 60%;
    }
    form{
        width: 350px;
        height: 500px;
        gap: 21px;
        margin-top: -25%; 
        margin-left: 0%;
        transform: translateX(10%);
    }
    form input, form textarea, form button {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px 10px;
        font-size: 16px;    
    }

    .form-btn{
        margin-top: -10px;
        padding: 20px 80px;
    }
}