

.navbar{
    background-color: #74C69D;
}
.navbar-header{
    display: flex;
    justify-content: space-between;
}
ul li{
    list-style: none;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
.nav-link:hover {
    color: #007bff;
}
.nav-links {
    display: none; 
    flex-direction: column;
    top: 60px;  
    right: 0;
    width: 100%; 
    background-color: #74C69D;
    padding: 20px; 

}
.nav-links.show {
    display: flex; 
    margin: 10px 0; 
    text-align: end;
}
.menu-icon{
    padding-top: 20px;
    padding-right: 60px;
}
.logo{
    margin: 10px;
}
@media(min-width: 768px){
    .logo{
        margin: 47%;
        margin-top: 30px; 
    }
}
@media(min-width:1024px){
    .menu-icon{
        margin-left: 50px;
        display: none;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color:#ffff;
        text-decoration: none;
        gap: 10px;
        padding-right: 90px;
        margin-top: -85px;
    }
    .logo{
        transform: translateY(25px);
    }
    .social{
        margin-left: 15px;
        margin-top: 12%;
    }
}


/* 
.navbar{
    height: 38px;
    gap: 171px;
    background-color: #74C69d;
    padding: 10px 10px;
}   
.navbar-header{
    display: flex;
    justify-content: space-between;
} 
.menu-icon{
    margin-right: 40px;
    margin-top: 7px;
}
ul li {
    list-style: none;
}
a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
.nav-link:hover {
    color: #007bff;
}
.nav-links {
    display: none; 
    flex-direction: column;
    position: absolute; 
    top: 60px;  
    right: 0;
    width: 100%; 
    background-color: #74C69D;
    padding: 20px; 

}
.nav-links.show {
    display: flex; 
    margin: 10px 0; 
    text-align: end;
}
.logo{
    margin-left: 10%; 
}


    @media (min-width: 1024px){
    .navbar{
        height: 50px;
        top: 35px;
        left: 135px;
    }
    .logo{
        margin-left: 90px;
    }
    .menu-icon {
        display: none; 
    }
    .nav-links {
        display: flex; 
        flex-direction: row; 
        background-color: transparent; 
        padding: 0;  
        gap: 20px; 
        transform: translateX(60%);
        margin-top: -50px;
    }

}  */