.navbar {
    width: 100%;
    display: flex;
    padding: 0 0 2rem;
    justify-content: space-between; 
    background-color: #74C69D; 
}


.logo {
    width: 90px;
    height: 49px;
    margin-left: 50px;
    margin-top: 20px;
}

.nav-links  {
    display: flex;
    gap: 1rem;
    margin: 3%;
    padding: 0;
}
a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

}
/* .nav{
    padding: 0 18px;
} */

/* .nav-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    gap: 30px; 
} */

ul li {
    list-style: none;
}
.nav-link:hover {
    color: #007bff;
}
.hamburger-container{
    display: none;
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 10;
    
}
.nav-links.show {
    display: block; 
}
@media (max-width:320px) {
    .hamburger-container {
        display: block;
    }
    .nav-links {
        display: none; /* Hidden initially */
        flex-direction: column; /* Stack links vertically */
        position: absolute;
        top: 60px; /* Adjust as needed */
        right: 0;
        width: 100%; /* Full width */
        background-color: #74C69D;
        padding: 20px; 
    }
    .menu-icon{
        margin-left: 250px;
        margin-top: 12px;
    }
    .logo{
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust as needed */
        right: 0;
        width: 100%; /* Full width */
        background-color: #74C69D;
        padding: 20px; 
    }  

    .nav-links.show {
        display: flex; 
         margin: 10px 0; /* Add spacing between links */
       text-align: end;/* Display links when the menu is open */
    }
    .hamburger-container {
      display: block; /* Show hamburger on mobile */
    }
    .menu-icon{
        margin-left: 1550%;
        margin-top: 15px;
    }
}