
*,

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  
}
.main-container{
  /* width: 370px; */
  height: 515px;
  background-color: #74C69D;
}
.teamwork{
  width: 300px;
  height: 197px;
}
.welcome{
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffff;
  margin-top: 20px;
  margin-left: 5px;
}

.hero-content h1{
  width: 335px;
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #ffff;
  margin-top: 10px;
  margin-left: 5px;
}
.hero-content p{
  /* width: 335px; */
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #ffff;
  margin-top: 20px;
  margin-left: 5px;
}
.explore {
  height: 48px;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  padding: 20px 40px;
  margin-top: 20px;
  margin-left: 5px;
}
.partners{
  height: 712px;
  top: 664px;
  left: 20px;
  gap: 55px;
}
.partner-icon{
  margin-top: 50px;
  margin-left: 50px;
  width: 200px;
  height: 385px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

  .more{
    margin-left: 40%;
    width: 170px;
    height: 48px;
    background-color: #000;
    color: #fff;
    margin-top: 50px;
    margin-left: 70px;
}
.text h1{
  text-align: center;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 16px;
  color: #74C69D;
  height: 20px;
  margin-top: 50px;
}
.text h2{
  height: 30px;
  text-align: center;
  font-family: "Crimson Text";
  font-size: 24px;
  margin-top: 10px;
}
.text h3{
  height: 85px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.customer{
  height: 513px;
  top: 1435px;
  left: 20px;
  gap: 30px;
}
.mailing{
  width: 300px;
  height: 249px;
  margin-left: 6px;
}
.mail-left h1{
  height: 60px;
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 24px;
  margin-left: 5px;
}
.mail-left p{
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
.mail-left .more{
    margin-left: 40%;
    width: 170px;
    height: 48px;
    background-color: #000;
    color: #fff;
    margin-top: 50px;
    margin-left: 5px;
}
.feedback{
  height: 581px;
  top: 2009px;
  left: 20px;
  gap: 30px;
}
.top-right{
  transform: translateY(-60%);
}
.feed{
  transform: translateY(176%);
}
.laptop{
  width: 300px;
  height: 316px;
  margin-left: 5px;
}
.feed h1{
  height: 60px;
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 24px;
  margin-left: 5px;
}
.feed p{
  height: 95px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 5px;
}
.feed .more{
  margin-top: -10px;
  margin-left: 5px;
}
.talent{
  height: 167px;
  top: 2630px;
  left: 20px;
  gap: 16px;
}
.talent h2{
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #74C69D;
  margin-top: 50px;
}
.talent h1{
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}
.talent p{
  width: 335px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-left: -5px;
}
.our-talent{
  height: 1301px;
  top: 2838px;
  left: 50px;
  gap: 35px;
}
.managers{
  margin-left: 20px;
}
.view{
  margin-left: 25%;
  width: 170px;
  height: 48px;
  background-color: #000;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer{
    /* width: 370px; */
  background-color: #74C69D;
}
.social{
  justify-content: center;
  margin: 5% 4% 3%;
}
.copyright{
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
@media (min-width: 768px){
  /* .main-container{
    width: 1025px;
} */

  .welcome{
    margin-top: -150px;
    margin-left: 20px;
  }
  .teamwork{
    width: 500px;
    transform: translateX(100%);
    margin-top: 200px;
  }
  .text h1{
    margin-top: 100px;
    margin-left: 25%;
  }
  .text h2{
    margin-left: 25%;
  }
  .text h3{
    margin-left: 25%;
  }
  .right{
    width: 416px;
    height: 299px;
  }
  .hero-content h1{
    margin-left: 20px;
  }
  .hero-content p{
    font-size: 15px;
    width: 355px;
    margin-left: 20px;
  }
  .explore{
    margin-top: 30px;
    margin-left: 20px;
  }
  .partners{
    text-align: center;
    margin-top: 100px;
  }
  
  .icon{
    transform: translateX(170%);
  }
  .more{
    transform: translateX(50%);
    margin-top: 50px;
  }
  .mailing{
    margin-top: 100px;
    width: 355px;
    margin-left: 50px;
  }
  .mail-left{
    transform: translateX(70%);
    
  }
  .mail-left p{
    font-size: 15px;
    width: 335px;
  }
    .mail-left .more{
      margin-left: -90px;
    }
    .laptop{
      transform: translateY(40%);
      width: 355px;
      margin-left: 50px;
    }
    .feed{
      transform: translateX(70%);
    }
    .feed h1{
      transform: translateY(510px);
    }
    .feed p{
      transform: translateY(500%);
      font-size: 15px;
      width: 355px;
    }
    .feed .more{
      transform: translateY(500px);
    }
    .talent{
      height: auto;
    }
    .talent h2{
      margin-top: 400px;
      margin-left: 40%;
  
    }
    .talent h1{
      margin-top: 40px;
      margin-left: 40%;
  }
    .talent p{
      margin-left: 50%;
      margin-top: 40px;
    }
  
    .managers{
      margin-top: 120px;
      transform: translateX(52%);
    }
    .view{
      transform: translateY(-200%);
      margin-left: 50%;
    }
    /* .footer{
      width: 1025px;
    } */
    .social{
      margin-left: 50px;
    }
} 
@media (min-width: 1024px){
  .main-container{
    width: 1440px;
    height: 586px;
  } 
  .hero-section{
    width: 1180px;
  }
  .teamwork{
    margin-top: 100px;
    width: 645px;
    height: 300px;
    margin-left: -100px;
    margin-top: 120px;
}
.hero-section{
  width: 1180px;
  height: 378px;
  top: 125px;
  left: 130px;
  gap: 120px;
}
.hero-section .left{
  width: 416px;
  height: 299px;
  gap: 25px;
  margin-left: 70px;
  margin-top: -100px;
}
.hero-content .right{
  width: 645px;
  height: 378px;
}
.hero-content p{
  font-size: 15px;
}
.partners{
  width: 1159px;
  height: 370px;
  top: 646px;
  left: 141px;
  gap: 55px;
}
.text{
  /* width: 411px; */
  height: 162px;
  gap: 16px;
  text-align: center;
}
.partner-icon {
  flex-direction: row; 
  width: auto; 
  height: auto; 
  margin: 12%; 
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;  
}

.partner-icon img {
  width: 150px; 
  height: auto; 
  row-gap: 5px;
  margin-top: -100px;
  transform: translateX(25%);
} 
#more-btn{
  transform: translateY(-100px);
} 
.text h1{
  font-size: 16px;
  margin-left: 15%
}
.text h2{
  font-size: 40px;
  margin-left: 18%;
}
.text h3{
  margin-top: 50px;
  font-size: 20px;
  width: 411px;
  text-align: center;
  margin-left: 40%;
}
.customer-service{
  width: 1180px;
  height: 432px;
  top: 1089px;
  left: 130px;
  justify-content: space-between;
}
.mailing{
  width: 600px;
  height: 434px;
  margin-top: 250px;
  margin-left: 100px;
}
.mail-left{
  margin-top: -270px;
}
.feedback{
  width: 1180px;
  height: 566px;
  top: 1594px;
  left: 130px;
  justify-content: center;
}

.laptop{
  transform: translateX(85%);
  width: 600px;
  height: 566px;
  margin-top: 100%; 
} 
.feed{
  transform: translateX(10%);
  margin-top: 130px;
}.talent{
    width: 404px;
    height: 162px;
    gap: 16px;
    justify-content: center;
    margin-left: 30%;
}
.talent h2{
  font-size: 16px;
  text-align: center;
  margin-top: 520px; 
}
.talent h1{
  font-size: 40px;
}
.talent p{
  font-size: 20px;
  margin-left: 25%; 
}
.workforce{
  width: 1176px;
  height: 599px;
  top: 2262px;
  left: 132px;
  gap: 45px;
}
.our-talent {
  display: flex; 
  flex-direction: row; 
  width: 1170px; 
  height: 299px; 
  justify-content: space-between; 
  align-items: center; 
}

.our-talent img {
  width: 279px; 
  height: 299px; 
  margin-left: -10%; 
  padding: 0; 
  margin-top: 300px;
}

.view{
  margin-top: 350px;

} 
.social-icon{
  width: 1178px;
  height: 25px;
  top: 2966px;
  left: 131px;
  justify-content: space-between;
}
.social{
  margin: 2%;
  margin-top: 4%;

} 
.copyright{
  font-size: 20px;
  
}  
#copy{
    transform: translateY(45px);
    margin-left: 50%;

} 
  .footer{
    width: 1440px;
    height: 125px;
    top: 2915px;
    margin-top: 426px;
  }
}
