
*,

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  
}

.main-container {
  max-width: 100%;
  background-color: #74C69D; /* The green background color */
  min-height: 100vh; 
  padding: 3% 15%;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  color: white;
  
}
.hero-content{
  transform: translateX(-150%);
}
.left{
  width: 416px;
  height: 299px;
  gap: 25px;
}
.right{
  width: 645px;
  height: 379px;
}
h1 {
  font-family: "crimsom Text";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 18.75px;
}

.welcome {
  font-family: "Work Sans";
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 40%;
}

.explore {
  height: 48px;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  padding: 20px 40px;

}

.teamwork{
  width: 80%;
  height: 378.13px;
  margin-left: 90%;
  margin-top: 100px;
}
.partners{
  padding: 3% 15%;
}
.text{
  width: 411px;
  height: 162px;
  gap: 16px;
  text-align: center;
  margin: 0 auto;
}
.text h1{
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 700;
  color: #74C69D;
}
.text h2{
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 40px;
  color: #000;
}
.text h3{
  width: 411px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin: 3%;
}
.partner-icon{
  display: flex;
  justify-content: space-between;
  margin: 3%;
}
.icon{
  width: 153px;
  height: 50px;
  gap: 68px;
}
.more{
  margin-left: 40%;
  width: 170px;
  height: 48px;
  background-color: #000;
  color: #fff;
}
.customer-service{
  padding: 3% 15%;
}
.mailing{
  width: 45%;
  height: 432px;
  margin-top: -30px;
}
.mail-left{
  margin-left: 55%;
  width: 470px;
  height: 255px;
  gap: 16px;
  margin-top: -35%;
}
.mail-left .more{
  margin-left: 0%;
  margin-top: 3%;
}

.feedback{
  padding: 3% 15%;
}
.laptop{
  width: 45%;
  margin-left: 52%;
  margin-top: -30%;
}
.feed{
  margin-right: 55%;
  margin-top: 10%;
}
.feed .more{
  margin-left: 0%;
  margin-top: 3%;
}
.workforce{
  width: 100%;
  padding: 3% 15%;
}
.managers{
  margin-left: -20px;
}
.talent{
  width: 411px;
  height: 162px;
  gap: 16px;
  text-align: center;
  margin-left: 19%;
}
.talent h2{
  font-family: "Work Sans";
  margin:0 auto;
  font-weight: 700;
  font-family: 16px;
  color: #74C69D;
}
.talent h1{
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 40px;
  color: #212529;
}
.talent p{
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
.view{
  margin-left: 30%;
  width: 170px;
  height: 48px;
  background-color: #000;
  color: #fff;

}

.footer{
  
  background-color: #74C69D;
} 
.copyright{
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin-left: 60%;
  margin-top: -20px;
}
.social-icon{
  display: flex;

}
.social{
  height: 18px;
  justify-content: space-between;
  margin-left: 65px;
  margin-top: 40px;
  gap: 2px;
}


  @media (max-width: 320px) {
    .main-container{
      height:513px ;
    }
  
    .teamwork {
      width: 335px; /* Resize the image */
      height: 200px; 
      margin-top: 5px;
      margin-left: -18% /* Center the image and add spacing below */
    }
    .welcome{
      margin-top: 220px;
      transform: translateX(40%);
    }
    h1{
      width: 335px;
      transform: translateX(40%);
      font-size: 25px;
      font-weight: 700;
      line-height: 2;
      margin-top: -20px;
    }
    .hero-content p{
      width: 330px;
      font-weight: 400;
      font-size: 15px;
      margin-left: 39%;
    }
  #button{
    transform: translateX(28%);
  }

      .explore {
      width: 170px;
      height: 48px;
      margin: 20px auto; /* Center the button */
      display: block;
    }
    .partners{
      height: 712px;
      gap: 55px;
      margin-left: 20px;
    }
    .text h1{
      font-size: 24px;
      text-align: center;
      transform: translateX(-120px);
      margin-top: 50px;
    }
    .text h2{
      font-size: 24px;
      text-align: center;
      margin-left: -300px;
    }
    .text h3{
      width: 320px;
      font-size: 20px;
      text-align: center;
      margin-left: -110px;
    }
    .partner-icon{
      display: flex;
      flex-direction: column;
      margin: 10%;
      gap: 20px;
    }
    .partners .more{
      margin-left: 19px;
    }
    .mailing{
      width: 300px;
      margin-top: -100px;
      margin-left: -38px;
    }
    .mail-left h1{
      margin-top: 40px;
      margin-left: -290px;
      text-align: left;
    }
    .mail-left p{
      width: 300px;
      margin-top: 20px;
      margin-left: -160px;
    }
    .mail-left .more{
      margin-top: 30px;
      margin-left:-170px;
    }
    .laptop{
      width: 300px;
      transform: translateY(-160%);
      margin-left: -30px;
    }
    .feed h1{
      margin-top: 345px;
      text-align: left;
      margin-left: -170px;
    }
    .feed p{
      width: 300px;
      text-align: left;
      margin-top: 10px;
      margin-left: -40px;
    }
    .feed .more{
      margin-left: -40px;
      margin-top: 10px;
    }
    .talent h2{
      margin-top: -150px;
      margin-left: -320px;
    }
    .our-talent{
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      justify-content: center;
      margin-left: -30px;
      /* margin-right: 10px;  */
    }
    
    .view{
      margin-top: 50px;
      margin-left: 40px;
    }
    .talent h1{
      margin-left: -251px;
      margin-top: 20px;
      font-size: 24px;
    }
    .talent p{
      text-align: center;
      margin-left: -100px;
      width: 300px;
      font-size: 20px;
    }
    .copyright{
      width: 300px;
      margin-left: 40px;
      margin-top: 10px;
    }
    .social-icon{
      margin-top: 20px;
      gap: 0px;
    }
    .social{
      margin-top: 10px;
      margin-bottom: 5px;
      margin-left: 40px;
    }
  }
  @media (max-width: 768px){
    .main-container{
      height:513px ;
    }
    .teamwork{
      transform: translateY(-50%);
      width: 335px;
      margin-left: 25px;
    }
    .welcome{
      margin-left: 129px;
      margin-top: 220px;
    }
    h1{
      transform: translateX(50%);
    }
    .hero-content p{
      width: 330px;
      font-weight: 400;
      font-size: 15px;
      margin-left: 40%;
    }
    h1{
      width: 335px;
      transform: translateX(40%);
      font-size: 25px;
      font-weight: 700;
      line-height: 2;
      margin-top: -20px;
    }
    #button{
      transform: translateX(110%);
    }
    .partners{
      height: 712px;
      gap: 55px;
      margin-left: 50px;
    }
    .text h1{
      font-size: 24px;
      text-align: center;
      transform: translateX(-50px);
      margin-top: 50px;
    }
    .text h2{
      font-size: 24px;
      text-align: center;
      margin-left: -190px;
    }
    .text h3{
      width: 335px;
      font-size: 20px;
      text-align: center;
      margin-left: -60px;
    }
    .partner-icon{
      display: flex;
      flex-direction: column;
      margin: 10%;
      gap: 20px;
    }
    .partners .more{
      margin-left: 19px;
    }
    .mailing{
      width: 300px;
      margin-top: -100px;
      margin-left: -13px;
    }
    .mail-left h1{
      margin-top: 40px;
      margin-left: -320px;
      text-align: left;
    }
    .mail-left p{
      width: 300px;
      margin-top: 20px;
      margin-left: -190px;
    }
    .mail-left .more{
      margin-top: 30px;
      margin-left:-190px;
    }
    .laptop{
      width: 300px;
      transform: translateY(-160%);
      margin-left: -30px;
    }
    .feed h1{
      margin-top: 345px;
      text-align: left;
      margin-left: -170px;
    }
    .feed p{
      width: 300px;
      text-align: left;
      margin-top: 10px;
      margin-left: -40px;
    }
    .feed .more{
      margin-left: -40px;
      margin-top: 10px;
    }
    .talent h2{
      margin-top: -150px;
      margin-left: -300px;
    }
    .our-talent{
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      justify-content: center;
      margin-left: -40px;
      gap: 1px;
      /* margin-right: 10px;  */
    }
    
    .view{
      margin-top: 50px;
      margin-left: 60px;
    }
    .talent h1{
      margin-left: -240px;
      margin-top: 20px;
      font-size: 24px;
    }
    .talent p{
      text-align: center;
      margin-left: -80px;
      width: 300px;
      font-size: 20px;
    }
    .copyright{
      width: 300px;
      margin-left: 90px;
      margin-top: 10px;
    }
    .social-icon{
      margin-top: 20px;
      gap: 0px;
    }
    .social{
      margin-top: 10px;
      margin-bottom: 5px;
      margin-left: 40px;
    }
    .our-talent{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .managers{
      width: 80%;
    }
  }
    
  





