
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
  /* outline: red 1px solid; */
}
body{
  margin: 0px;
  padding: 0px; 
}
.main-container{
  width: 100%; 
  background-color: #74C69D;
}
.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.explore{
  background-color: #fff;
  color: black;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  height: 60px;
  width: 170px;
  transform: translateY(0%);
  margin-left: 30px;
  margin-bottom: 20px;
  transition: transform 0.2s ease;
}
.explore:hover{
  transform: scale(1.1);
}
.welcome{
  font-size: 15px;
  color: #fff;
  margin: 2%;
}
.hero-content h1{
  margin: 2%;
  font-size: 18px;
  color: #fff;
}
.hero-content p{
  margin: 2%;
  font-size: 15px;
  font-weight: 100;
  color: #fff;
}
.teamwork{
  width: 300px;
  justify-content: center;
}
.partners-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.partner-icon{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin: 6% 28%;
}
.partner-icon img{
  width: 120px;
  height: auto;
}
.text h1{
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #74C69D;
  margin: 10%;
}
.text h2{
  font-family: "Crimson Text";
  font-size: 24px;
  text-align: center;
  color: #000;
}
.text h3{
  width: 320px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
#more-btn{
  background-color: #000;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 20px 30px;
  transition: transform 0.2s ease;
  justify-content: center;
  margin: 7% 25%;
}
#more-btn:hover{
  transform: scale(1.1);
  color: grey;
}
.customer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mailing{
  width: 300px;
  justify-content: center;
  margin-left: -1%;
}
.mail-left h1{
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 24px;
  height: 60px;
  margin: 2%;
}
.mail-left p{
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  height: 95px;
  margin: 2%;
}
#mail{
  background-color: #000;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 20px 30px;
  transition: transform 0.2s ease;
  justify-content: center;
  margin: 1%; 
}

.client-feed{
  display: flex;
  flex-direction: column;
}
.laptop{
  width: 300px;
  justify-content: center;
  margin: 0%;
  
}
.feed h1{
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 24px;
  height: 60px;
  margin: 2%;
}
.feed p{
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 13px;
  height: 95px;
  margin: 2%;
}
#top{
  background-color: #000;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 20px 30px;
  transition: transform 0.2s ease;
  justify-content: center;
  margin: 2%;
}
.work-force{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.talent h2{
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #74C69D;
  margin-top: 20px;
  height: 20px;
}
.talent h1{
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  height: 30px;
}
.talent p{
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  height: 85px;
  text-align: center;
  width: 300px;
}
.our-talent{
  justify-items: center;
  margin: 1%;
}
.view{
  background-color: #000;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 20px 30px;
  margin: 25%;
}
.footer{
  background-color: #74C69D;
  margin-top: 25px;
}
.footer-container{
  display: flex;
  flex-direction: column;
  align-content: center;
}
.social{
  margin: 3%;
}
.copyright{
  color: #fff;
  margin: 3%;
}

@media(min-width:375px){
  .our-talent{
    justify-content: center;
    margin: 10%;
  }
  .talent p{
    margin: 9%
  }
  .view{
    margin: 28%;
  }
  .text h3{
    margin-left: 5%;
  }
  #mail{
    transform: translateY(-50%);
  }

}
@media(min-width: 768px){
  .hero-container{
    display: flex;
    flex-direction: row-reverse;
  }
  .left{
    width: 100%;
    gap: 25px;
    margin: 5% 5%;
  }
  .hero-content h1{
    width: 355px;
    height: 50px;
  }
  .hero-content p{
    width: 335px;
    height: 76px;
  }
  .teamwork{
    width: 335px;
    margin: 17% 0% 3%;
    padding-right: 5%;
  }
  #button{
    margin: -7% 5% 10%;
  }
  .text h3{
    margin-top: 5px;
    margin-left: 28%;
  }
  .partner-icon{
    margin: 6% 40%;
  }
  #more-btn{
    
    margin: 2% 42%; 
  }
  .customer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mail-left{
    width: 50%;
    margin-top: 40px;
  }
  #mail{
    padding: 20px 30px;
  }
  .mailing{
    margin: 3%;
  }

  .client-feed{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between
  }
  .feed{
    width: 50%;
    transform: translateY(40%);
    margin: 3%;
  }
  .laptop{
    margin-left: -5%;
  }
  .talent h2{
    margin-top: 20%;
  }
  .talent h1{
    margin-top: 20px;
  }
  .talent p{
    width: 404px;
    margin-left: 25%;
  }
  .view{
    padding: 20px 30px;
    justify-content: center;
    transform: translateX(220%);
    margin: auto;
  }
  .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .copyright{
    padding-right: 30px;
  }
  .social{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }
}
@media(min-width: 1024px){
  .teamwork{
    width: 500px;
    margin-left: -9%;
    margin-top: 20%;
    
  }
  .hero-content h1{
    width: 416px;
    height: 100px;
    font-size: 40px;
  }
  .hero-content{
    width: 416px;
    height: 76px;
    font-size: 15px;
  }
  #button{
    transform: translateY(-100%);
  }
  .partner-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(17%);
  }
  .text h1{
    text-align: center;
    margin-left: 8%;
  }
  .text h2{
    font-size: 40px;
    margin-top: -10px;
  }
  .text h3{
    width: 411px;
    height: 40px;
    font-size: 20px;
    transform: translateX(-20px);
  }
  .mailing{
    width: 450px;
    margin-left: 10%; 
  }
  .mail-left h1{
    width: 462px;
    font-size: 40px;
    height: 100px;
  }
  .mail-left p{
    width: 470px;
    font-size: 13px;
  }
  #mail{
    transform: translateY(-100%);
  }
  .laptop{
    width:450px ;
    height: 565px;
    margin-left: -15%;
  }
  .feed{
    margin-left: 10%;
  }
  .feed h1{
    width: 470px;
    height: 100px;
    font-size: 40px;
  }
  #top{
    padding: 20px 30px;
  }
  .our-talent{
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  .our-talent img{
    width: 220px;

  }
  .talent h2{
    margin: 0 10%;
  }
  .talent h1{
    width: 206px;
    font-size: 40px;
    height: 50px;
    text-align: center;
    margin-left: 42%; 
  }
  .talent p{
    text-align: center;
    margin-left: 33%;
    margin-top: 5%;
  }
  .view{
      justify-content: center;
      margin-left: 1%;
  }
  .copyright{
    margin-right: 10%;
    font-size: 20px;
    font-weight: 400px;
  }
  .partner-icon{
    margin-left: 25%;
  }
  .text h3{
    margin-left:35% ;
  }

  }


@media(min-width:1440px){
  .our-talent img{
    width: 300px;

  }
  .view{
    margin-left: 5%;
  }
}




